@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Alex+Brush");
/* Media Queries Mixins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #eee; }

h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  background: #ffbf00;
  padding: 20px; }

h3 {
  font-size: 1.0rem; }

p {
  color: #717171; }

address {
  margin-top: 20px; }

.active-page {
  color: #ffbf00 !important; }

/* headings */
.navbar-dark {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff; }
  .navbar-dark a {
    text-transform: uppercase; }
  .navbar-dark .navbar-brand .logo {
    margin-left: 10px;
    color: #ffbf00; }
  .navbar-dark .navbar-brand .logo-photo {
    height: 60px; }

/* Section Carousel */
.section-carousel {
  display: none; }
  @media only screen and (min-width: 533px) {
    .section-carousel {
      display: block; } }

/* Section About */
.section-about {
  text-align: center;
  margin-top: 73px; }
  @media only screen and (min-width: 768px) {
    .section-about {
      margin-top: 0px; } }
  @media only screen and (min-width: 768px) {
    .section-about .menu-content {
      width: 32%; } }
  .section-about p {
    margin: 23px 12px 32px 12px;
    text-align: justify; }
    @media only screen and (min-width: 768px) {
      .section-about p {
        margin: 40px 23px 32px 40px;
        text-align: center;
        padding: 0px 30px; } }
  .section-about .about-title img {
    margin-top: 37px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px; }
    @media only screen and (min-width: 768px) {
      .section-about .about-title img {
        width: 200px;
        height: 200px; } }
  .section-about .section-about-content img {
    width: 100%;
    margin-bottom: 10px; }
  .section-about .section-about-content .menu-block {
    position: relative;
    bottom: 12px;
    border: 1px solid #ffbf00;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; }
    .section-about .section-about-content .menu-block .menu-description {
      position: absolute;
      bottom: 12px;
      right: 20px; }
      .section-about .section-about-content .menu-block .menu-description p {
        color: #ffffff;
        font-weight: bold;
        text-decoration: underline;
        font-size: 13px; }
        @media only screen and (min-width: 768px) {
          .section-about .section-about-content .menu-block .menu-description p {
            font-size: 20px; } }
  .section-about .section-about-content .menu-child {
    display: none; }
    @media only screen and (min-width: 533px) {
      .section-about .section-about-content .menu-child {
        display: block; } }
  @media only screen and (min-width: 533px) {
    .section-about .section-about-content {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px; } }

/* Section Location */
.section-location {
  text-align: center; }
  .section-location .location {
    margin-left: 20px;
    margin-right: 20px; }
  @media only screen and (min-width: 768px) {
    .section-location .location-container {
      display: flex; } }
  .section-location .donaluz-address {
    border: 1px solid #ffbf00;
    margin-top: 20px; }
    @media only screen and (min-width: 768px) {
      .section-location .donaluz-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px; } }
    .section-location .donaluz-address .donaluz-title {
      margin-top: 26px; }
      @media only screen and (min-width: 768px) {
        .section-location .donaluz-address .donaluz-title h3 {
          font-size: 1.75rem; } }
    @media only screen and (min-width: 768px) {
      .section-location .donaluz-address {
        width: 70%; } }
  .section-location .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 35.25%;
    height: 0;
    border: 1px solid #ffbf00;
    box-sizing: border-box;
    margin-top: 20px; }
    .section-location .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

/* Section Hours */
.section-hours {
  background: #000000;
  text-align: center;
  margin-top: 30px; }
  .section-hours .donaluz-hours {
    padding-top: 18px;
    padding-bottom: 12px; }
  .section-hours p {
    color: #ffffff; }

/* Section Socials */
.section-socials {
  text-align: center;
  margin-top: 30px; }
  .section-socials .social-media {
    margin-top: 32px;
    margin-bottom: 27px; }

/* Section Footer */
.section-footer {
  background: #000000;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 1px;
  margin-top: 12px; }
  .section-footer p {
    color: #ffbf00; }

/* Menu File */
.menu-body {
  background-image: url(../img/pexels-photo-262978.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

.main-menu, .main-chef {
  max-width: 980px;
  margin: 110px auto;
  background: #ffffff;
  opacity: 0.8; }
  .main-menu .section-menu, .main-chef .section-menu, .main-chef .section-chef {
    text-align: center;
    padding: 30px; }
    .main-menu .section-menu .menu-detail, .main-chef .section-menu .menu-detail, .main-chef .section-chef .menu-detail, .main-chef .section-chef .chef-detail {
      border: 3px solid #ffbf00;
      padding: 30px; }
      .main-menu .section-menu .menu-detail .menu-block, .main-chef .section-menu .menu-detail .menu-block, .main-chef .section-chef .menu-detail .menu-block, .main-chef .section-chef .chef-detail .menu-block {
        font-family: 'Laila', serif;
        margin-top: 42px; }
        .main-menu .section-menu .menu-detail .menu-block img, .main-chef .section-menu .menu-detail .menu-block img, .main-chef .section-chef .menu-detail .menu-block img, .main-chef .section-chef .chef-detail .menu-block img {
          border-radius: 50%;
          margin-bottom: 12px; }
        .main-menu .section-menu .menu-detail .menu-block h3, .main-chef .section-menu .menu-detail .menu-block h3, .main-chef .section-chef .menu-detail .menu-block h3, .main-chef .section-chef .chef-detail .menu-block h3 {
          font-size: 1.4rem;
          margin-bottom: 20px; }
        .main-menu .section-menu .menu-detail .menu-block p, .main-chef .section-menu .menu-detail .menu-block p, .main-chef .section-chef .menu-detail .menu-block p, .main-chef .section-chef .chef-detail .menu-block p {
          color: #4b555d;
          line-height: 16px; }
      .main-menu .section-menu .menu-detail h1, .main-chef .section-menu .menu-detail h1, .main-chef .section-chef .menu-detail h1, .main-chef .section-chef .chef-detail h1 {
        background: #ffbf00;
        text-transform: uppercase;
        font-size: 36px;
        padding-top: 5px; }

.footer {
  padding-top: 0; }
  .footer .donaluz-footer {
    margin-top: 30px;
    margin-bottom: 30px; }
    .footer .donaluz-footer p {
      color: #ffffff; }

/* chef Page */
.main-chef .section-chef .chef-detail .chef-photo {
  max-width: 600px;
  margin: 0 auto; }
  .main-chef .section-chef .chef-detail .chef-photo img {
    width: 100%;
    border-radius: 50%;
    margin-top: 12px; }
.main-chef .section-chef .chef-detail p {
  margin-top: 30px; }

/* testimonies */
.text-testimonies {
  margin-top: 30px;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  text-align: justify; }

.text-right {
  text-align: left; }

/* gallery */

/*# sourceMappingURL=old.css.map */
